.a {
    width: 500px;
  
    font-size: large;
  }
  label {
    font-size: large;
    color: rgb(87, 96, 102);
  }
  p {
    width: auto;
    font-weight: bold;
    color: rgb(87, 96, 102);
    font-size: medium;
  }
  th {
    font-size: medium;
    background-color: rgb(33, 57, 83);
    font-weight: bold;
    color: rgb(251, 252, 253);
    width: 200px;
  }
  td {
    font-weight: bold;
    color: rgb(87, 96, 102);
  }
  .sp {
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: none;
  }
  