<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <a class="sidebar-brand brand-logo" href="index.html"> {{ 'Data.Omsgd' | translate}} </a>
    <a class="sidebar-brand brand-logo-mini" href="index.html">{{ 'Data.Omsgd' | translate}}</a>
  </div>
  <ul class="nav">
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            <img class="img-xs rounded-circle " src="assets/images/faces/face15.jpg" alt="">
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal" translate>Super Admin</h5>
            <span translate>Administrator</span>
          </div>
        </div>
      </div>
    </li>

    <li class="nav-item nav-category">
      <span class="nav-link" translate>Navigation</span>
    </li>
    <li class="nav-item menu-items" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/main/home" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-icon">
          <i class="mdi mdi-home"></i>
        </span>
        <span class="menu-title" translate>{{ 'Data.Home' | translate}}</span>
      </a>
    </li>

    <li class="nav-item menu-items" [ngClass]="{ 'active': ticket.isActive }">
      <a class="nav-link" routerLink="/main/ticket" routerLinkActive #ticket="routerLinkActive">
        <span class="menu-icon">
          <i class="mdi mdi-ticket-confirmation"></i>
        </span>
        <span class="menu-title" translate>{{ 'Data.Tickets' | translate}}</span>
      </a>
    </li>

    <li class="nav-item menu-items" [ngClass]="{'active' : itSupportTasks.isActive || internalTasks.isActive }">
      <a class="nav-link" (click)="uiTasksCollapsed = !uiTasksCollapsed" [attr.aria-expanded]="uiTasksCollapsed"
        aria-controls="ui-task">
        <span class="menu-icon">
          <i class="mdi mdi-format-list-checkbox"></i>
        </span>
        <span class="menu-title" translate>{{ 'Data.Tasks' | translate}}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-task" [ngbCollapse]="!uiTasksCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="/main/task/all" routerLinkActive="active"
              #itSupportTasks="routerLinkActive" translate>{{ 'Data.ItSupportTasks' | translate}}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="/main/internal-task/all" routerLinkActive="active"
              #internalTasks="routerLinkActive" translate>{{ 'Data.InternalTasks' | translate}}</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item menu-items"
      [ngClass]="{'active' : actions.isActive || taskType.isActive || ticketStatus.isActive }">
      <a class="nav-link" (click)="uiConfigurationCollapsed = !uiConfigurationCollapsed"
        [attr.aria-expanded]="uiConfigurationCollapsed" aria-controls="ui-config">
        <span class="menu-icon">
          <i class="mdi mdi-settings"></i>
        </span>
        <span class="menu-title" translate>{{ 'Data.Configurations' | translate}}</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-config" [ngbCollapse]="!uiConfigurationCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="action/all" routerLinkActive="active"
              #actions="routerLinkActive" translate>{{ 'Data.Actions' | translate}}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="task-type/all" routerLinkActive="active"
              #taskType="routerLinkActive" translate>{{ 'Data.TaskTypes' | translate}}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="ticket-status/all" routerLinkActive="active"
              #ticketStatus="routerLinkActive" translate>{{ 'Data.TicketStatuses' | translate}}</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
