<div class="d-flex justify-content-center grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h4 class="card-title">{{ 'Data.Actions' | translate}}</h4>
        <a class="btn btn-info align-content-center" routerLink='/main/action/add'
          *ngIf="permissions.indexOf('Permission.SERVICES-ACTIONS.Add') > -1">{{ 'Data.Add' | translate}}</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <app-data-table [tableOptions]="tableOptions">

    </app-data-table>
  </div>
</div>
