<div class="d-flex justify-content-center grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between mb-4">
        <h4 class="card-title" *ngIf="isNew">{{ 'Data.Add' | translate}}</h4>
        <h4 class="card-title" *ngIf="!isNew">{{ 'Data.Edit' | translate}}</h4>
        <button class="btn btn-info" (click)="Redirect()">{{ 'Data.Back' | translate}}</button>
      </div>

      <form name="form" (ngSubmit)="f.form.valid && Submit()" #f="ngForm" novalidate>
        <div class="form-group">
          <div class="material-form-field" [ngClass]="{'material-form-field-invalid':f.submitted && nameEn.invalid}">
            <input type="text" #nameEn="ngModel" [(ngModel)]="model.nameEn" name="nameEn" id="nameEn" required />
            <label class="material-form-field-label" for="nameEn">{{ 'Data.EnglishName' |translate}}</label>
          </div>
          <div *ngIf="f.submitted && nameEn.invalid" class="custom-invalid-feedback">
            <div *ngIf="nameEn.errors.required">{{ 'Data.FieldRequired' | translate}}</div>
          </div>
        </div>

        <div class="form-group">
          <div class="material-form-field" [ngClass]="{'material-form-field-invalid':f.submitted && nameAr.invalid}">
            <input type="text" #nameAr="ngModel" [(ngModel)]="model.nameAr" name="nameAr" id="nameAr" required />
            <label class="material-form-field-label" for="nameAr">{{ 'Data.ArabicName' |translate}}</label>
          </div>
          <div *ngIf="f.submitted && nameAr.invalid" class="custom-invalid-feedback">
            <div *ngIf="nameAr.errors.required">{{ 'Data.FieldRequired' | translate}}</div>
          </div>
        </div>


        <div class="form-group">
          <div class="material-form-field" [ngClass]="{'material-form-field-invalid':f.submitted && code.invalid}">
            <input type="text" #code="ngModel" [(ngModel)]="model.code" name="code" id="code" required />
            <label class="material-form-field-label" for="code">{{ 'Data.Code' |translate}}</label>
          </div>
          <div *ngIf="f.submitted && code.invalid" class="custom-invalid-feedback">
            <div *ngIf="code.errors.required">{{ 'Data.FieldRequired' | translate}}</div>
          </div>
        </div>




        <button type="submit" class="btn btn-primary mr-2">{{ 'Data.Submit' | translate}}</button>
      </form>
    </div>
  </div>
</div>
